*{
    margin: 0px;
    padding: 0px;
}

body{
	margin: 0px;
	padding: 0px 0px 50px 0px;
	font-family: roboto;
	background-image: url("SOURCE/Background samping.png");
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 65%;
}

div{
	display: inline-block;
}

.namaweb h1{
    float: left;
    font-size: 30px;
    display: inline-block;
    margin-left: 5px;
    margin: 20px 0px 20px 10px;
    color: #001460;
    font-weight: normal;
}

.namaweb img{
    margin: 15px 30px 15px 30px;
    float: left;
    width: 80px;
    height: 80px;
}

.toggle{
    display: none;
}

.menu{
    float: right;
    position: relative;
    margin: 40px 0px 40px 0px;
    margin-right: 5%;
}

.menu ul{
    list-style: none;
}

.menu a{
    display: block;
    text-decoration: none;
    color: white;
    width: 135px;
    /*padding: 10px;*/ 
}

.menu ul li{
    background-color: #001460;
    width: 135px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    float: left;
    color: white;
    font-size: 15px;
    box-sizing: border-box;
}

.menu ul ul{
    display: none;
    border:none;
}

.menu ul ul li{
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.menu a:hover{
    background-color: #ffffff;
    color: #001460;
    cursor: pointer;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.2);
}

.menu ul li:hover ul{
    display: block;
    background-color: #ffffff;
    color: #001460;
}

.menu ul ul li:hover {
    background-color: #ffffff;
    color: #001460;
    cursor: pointer;
}

input[type=button]:hover{
	color: #050766;
	cursor: pointer;
	font-weight: bold;
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dashboard{
	background-color: rgba(255, 255, 255, 0.75);
	margin: 10px 0px 0px 0px;
	padding: 20px 100px 100px 120px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.dashboard h1 {
	font-weight: normal;
	color: #001460;
	font-size: 40px;
}

.box1 {
	background-color: white;
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 30px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
	border-radius: 10px;
	margin : 38px 15px 0 15px;
	text-align: left;
	float: left;
}

.box1 ul li {
    list-style: none;
    line-height: 30px;
}

.box1 h1 {
	font-size: 25px;
    font-weight: normal;
}

@media only screen and (max-width: 900px){
    /*for mobile*/
    *{
        margin: 0px;
        padding: 0px;
    }

    body{
        background-size: 80%;
    }

    .namaweb{
        width: 100%;
        background-color: white;
        padding: 10px;
        box-sizing: border-box;
        border-bottom: 5px solid #001460;
        position: fixed;
        top: 0px;
    }

    .namaweb h1{
        margin: 0px;
        font-size: 12px;
        display: inline-block;
        margin-left: 5px;
        padding: 7px 0px 0px 0px;
        color: #001460;
        font-weight: normal;
    }

    .namaweb img{
        margin: 0px;
        width: 40px;
        height: 40px;
    }

    .toggle{
        display: block;
    }

    .menu{
        font-size: 20px;

    }

    .menu ul{
        position: fixed;
        width: 60%;
        height: 100vh;
        background: #001460;
        top: 60px;
        left: -100%;
        text-align: center;
        transition: all .5s;
/*      display: none;*/
    }

    .menu ul li{
        margin: 0px;
        list-style-type: none;
        display: block;
        padding: 0px;
    }

    .menu a{
        display: block;
        margin: 0px auto;
        width: 100%;
        text-decoration: none;
        color: #ffffff;
        padding: 10px 0px;
        border-radius: 0px;
        border-bottom: 2px solid white;
    }

    .menu a:hover{
        color: #001460;
        font-weight: bold;
        background-color: #ffffff;
    }

    .toggle{
        float: right;
    }

    .checkbtn{
        font-size: 20px;
        color: #001460;
        padding: 3px 5px;
        border-radius: 3px;
        line-height: 30px;
        box-sizing: border-box;
        cursor: pointer;
        display: block;
    }

    .hidebtn{
        display: none;
        font-size: 20px;
        color: #001460;
        padding: 3px 5px;
        border-radius: 3px;
        line-height: 30px;
        box-sizing: border-box;
        cursor: pointer;
    }

    .dashboard{
        padding: 10px;
        width: 90%;
        margin: 100px auto 0px auto;
        display: block;
        border-radius: 10px;
    }

    .dashboard h1{
        font-size: 20px;
        margin: 20px 0px 0px 20px;
    }

    .box1{
        margin: 20px auto;
        display: block;
        float: none;
        width: 90%;
        padding: 20px;
    }

    .box1 h1{
        margin: 0px;
        font-size: 15px;
    }

    .box1 ul li{
        font-size: 12px;
        line-height: 15px;
    }