*{
    margin: 0px;
    padding: 0px;
}

body{
	margin: 0px;
	padding: 0px 0px 50px 0px;
	font-family: roboto;
	background-image: url("SOURCE/Background samping.png");
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 65%;
}

div{
	display: inline-block;
}

.namaweb{
    box-sizing: border-box;
    float: left;
    padding: 20px;
}

.namaweb h1{
    float: left;
    padding: 10px;
    height:80px;
    font-size: 26px;
    display: inline-block;
    color: #001460;
    font-weight: normal;
    box-sizing: border-box;
}

.namaweb img{
    float: left;
    width: 80px;
    height: 80px;
}

.menu{
    position: relative;
    margin: 40px 0px 40px 0px;
    margin-left: 25%;
    /*width: 100%;*/
}

.menu ul{
    list-style: none;
}

.menu a{
    display: block;
    text-decoration: none;
    color: white;
    width: 120px;
    /*padding: 10px;*/ 
}

.menu ul li{
    background-color: #001460;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    float: left;
    color: white;
    font-size: 15px;
    box-sizing: border-box;
}

.menu ul ul{
    display: none;
    border:none;
}

.menu ul ul li{
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.menu a:hover{
    background-color: #ffffff;
    color: #001460;
    cursor: pointer;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
}

.menu ul li:hover ul{
    display: block;
    background-color: #ffffff;
    color: #001460;
}

.menu ul ul li:hover {
    background-color: #ffffff;
    color: #001460;
    cursor: pointer;
}

/*input[type=button]:hover{
	color: #050766;
	cursor: pointer;
	font-weight: bold;
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}*/

.dashboard{
	background-color: rgba(255, 255, 255, 0.75);
	margin: 10px 0px 0px 0px;
	padding: 20px 100px 100px 120px;
    width: auto;
    height: 100%;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.dashboard h1 {
	font-weight: normal;
	color: #001460;
	font-size: 40px;
}

.box1 h1:hover {
    background-color: #001460;
    color: white;
    border-radius: 10px;
}

.box1 {
	background-color: white;
    width: 300px;
    height: 100px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
	border-radius: 10px;
	margin : 38px 15px 0 15px;
	text-align: center;
	float: left;
}

.box2 {
	background-color: white;
    width: 300px;
    height: 100px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
	border-radius: 10px;
	margin : 38px 15px 0px 15px;
	text-align: center;
	float: left;
	padding: 17.5px 0px 17.5px 0px;
}

.box1 h1 {
	font-size: 25px;
	line-height: 100px;
}

.box2 h1 {
	font-size: 27px;
}