*{
    margin: 0px;
    padding: 0px;
}

body{
	margin: 0px;
	font-family: roboto;
	background-image: url("SOURCE/Background samping.png");
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 65%;
}

div{
	display: inline-block;
}

.namaweb{
    box-sizing: border-box;
    float: left;
    padding: 20px;
}

.namaweb h1{
    float: left;
    padding: 10px;
    height:80px;
    font-size: 26px;
    display: inline-block;
    color: #001460;
    font-weight: normal;
    box-sizing: border-box;
}

.namaweb img{
    float: left;
    width: 80px;
    height: 80px;
}

.menu{
    position: relative;
    margin: 40px 0px 40px 0px;
    margin-left: 23%;
    /*width: 100%;*/
}

.menu ul{
    list-style: none;
}

.menu a{
    display: block;
    text-decoration: none;
    color: white;
    width: 120px;
    /*padding: 10px;*/ 
}

.menu ul li{
    background-color: #001460;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    float: left;
    color: white;
    font-size: 15px;
    box-sizing: border-box;
}

.menu ul ul{
    display: none;
    border:none;
}

.menu ul ul li{
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.menu a:hover{
    background-color: #ffffff;
    color: #001460;
    cursor: pointer;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
}

.menu ul li:hover ul{
    display: block;
    background-color: #ffffff;
    color: #001460;
}

.menu ul ul li:hover {
    background-color: #ffffff;
    color: #001460;
    cursor: pointer;
}


/*.menu{
	margin: 40px 40px 0px 0px;
    float: right;
    font-weight: bold;
    font-size: 20px;
}

.menu ul{
	display: block;
	margin: 0px;
    padding-left: 5px;
    margin-left: 20px;
}

.menu ul li{
	margin: 0px;
	list-style-type: none;
	display: inline-block;
	padding-left: 23px;
}

.menu a{
	display: block;
	text-decoration: none;
	color: #ffffff;
	padding: 10px;
	border-radius: 5px;
}

.menu ul ul{
    list-style: none;
    display: block;
}
*/
.content {
	display: inline-block;
	width: 400px;
	margin: 80px 0px 0px 40px;
	background-color: #e6e7eb;
	color: #001460;
	padding: 10px;
	border-left: 6px solid #001460;
	border-radius: 0px 10px 10px 0px;
}

.content a{
	display: block;
	width: 110px;
	padding: 10px 12px;
	color: #ffffff;
	text-align: left;
	text-decoration: none;
	background-color: #001460;
	border-radius: 5px;
}

/*a:hover{
	color: #050766;
	font-weight: bold;
	background-color: #ffffff;
}*/

input[type=button]:hover{
	color: #050766;
	cursor: pointer;
	font-weight: bold;
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dashboard1{
    float: left;
    background-color: rgba(255, 255, 255, 0.75);
    width: 600px;
    height: 500px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    padding: auto;
    margin: 30px 0px 0px 30px;
    box-sizing: border-box;
    border-radius: 10px;
}

.dashboard1 h1{
    font-weight: normal;
    color: #001460;
    margin: 20px 0px 0px 40px;
    font-size: 40px;
}

.box_hasil{
    box-sizing: border-box;
    background-color: #25255f;
    width: 200px;
    height: 170px;
    padding: 7px;
    border-radius: 30px;
    margin: 15px 20px auto 70px;
    float: left;
    text-align: center;
    color: white;
}

.gambar1 img{
    width: 70px;
    height: 70px;
    margin: 20px 0px 0px 20px;
    display: inline-block;
}

.box_jadwal {
    box-sizing: border-box;
    background-color: #25255f;
    width: 200px;
    height: 170px;
    padding: 7px;
    border-radius: 30px;
    display: inline-block;
    margin: 15px auto 20px auto;
    text-align: center;
    color: white;
}

.gambar2 img{
    width: 70px;
    height: 70px;
    margin: 20px 15px 0px 20px;
    display: inline-block;
}

.box_pelajaran {
    box-sizing: border-box;
    background-color: #25255f;
    width: 200px;
    height: 170px;
    padding: 7px;
    border-radius: 30px;
    margin: auto 20px auto 70px;
    color: white;
    text-align: center;
    float: left;
}

.gambar3 img{
    width: 70px;
    height: 70px;
    margin: 20px 15px 0px 20px;
    display: inline-block;
}

.box_data {
    box-sizing: border-box;
    background-color: #25255f;
    width: 200px;
    height: 170px;
    padding: 7px;
    border-radius: 30px;
    display: inline-block;
    margin: 1px auto 30px auto;
    text-align: center;
    color: white
}

.gambar4 img{
    width: 70px;
    height: 70px;
    margin: 20px 15px 0px 20px;
    display: inline-block;
}

.dashboard2 {
    
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.75);
    width: 500px;
    height: 245px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    padding: 10px 20px 20px 20px;
    margin: 30px 40px 0px 5px;
    box-sizing: border-box;
    border-radius: 10px;
    float: right;
}
.dashboard2 h1 {
    font-weight: normal;
    color: #001460;
    font-size: 29px;
    margin: auto;
}

.box1{
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 460px;
    height: 70px;
    border-radius: 10px;
    margin: 10px auto auto auto;
    padding: 5px 10px 5px 10px;
    color: #001460;
}

.box1 h1 {
    font-size: 19px;
}

.box1 p{
    font-size: 15px;
    margin-top: 0px;
} 

.box2{
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 460px;
    height: 70px;
    border-radius: 10px;
    margin: 8px auto auto auto;
    padding: 5px 10px 5px 10px;
    color: #001460;
}

.box2 h1 {
    font-size: 19px;
}

.box2 p{
    font-size: 15px;
    margin-top: 0px;
} 

.dashboard3 {
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.75);
    width: 500px;
    height: 245px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    margin: 10px 40px 0px 5px;
    padding: 10px 20px 20px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    float: right;
}

.dashboard3 h1 {
    font-weight: normal;
    color: #001460;
    font-size: 29px;
    margin: auto;
}

.box3{
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 460px;
    height: 70px;
    border-radius: 10px;
    margin: 10px auto auto auto;
    padding: 13px 15px 10px 10px;
    color: #001460;
}

.box3 h1 {
    font-size: 19px;
}

.box4{
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 460px;
    height: 70px;
    border-radius: 10px;
    margin: 8px auto auto auto;
    padding: 23px 15px 15px 15px;
    color: #001460;
}

.box4 h1 {
    font-size: 19px;
}
