*{
    margin: 0px;
    padding: 0px;
}

body{
	margin: 0px 0px 100px 0px;
	font-family: roboto;
	background-image: url("SOURCE/Background samping.png");
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 65%;
}

div{
	display: inline-block;
}

.namaweb h1{
    float: left;
    font-size: 30px;
    display: inline-block;
    margin-left: 5px;
    margin: 20px 0px 20px 10px;
    color: #001460;
    font-weight: normal;
}

.namaweb img{
    margin: 15px 30px 15px 30px;
    float: left;
    width: 80px;
    height: 80px;
}
.namaweb{
    position: absolute;
    top: 0;
    left: 0;
}

.toggle{
    display: none;
}

.menu{
    width: 100%;
    margin: 35px 0px;
    box-sizing: border-box;
}

.menu ul{
    display: flex;
    justify-content: flex-end;
}

.menu ul li{
    list-style-type: none;
    position: relative;
    padding: 10px 0px;
    box-sizing: border-box;
}


.menu ul li:hover{
    border-bottom: 2px solid white;
}


.menu ul li a{
    text-decoration: none;
    padding: 0px 15px;
    color: white;
}


.menu ul li ul{
    top: 45px;
    left: 0;
    position: absolute;
    background-color: #001460;
    display: block;
    width: 200px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
}

/*
.item ul{
    display: none;
}

.item input:checked ~ ul{
    display: block;
}*/

/*.menu{
    float: right;
    position: relative;
    margin: 40px 0px 40px 0px;
    margin-right: 5%;
}

.menu a{
    text-decoration: none;
    color: white;
}

.menu ul{
    list-style-type: none;
    display: block;
}

.menu ul li{
    list-style-type: none;
    display: inline-block;
    position: relative;
}

.menu ul li a{
    padding: 10px;
}

.menu li ul.dropdown{
    position: absolute;
    display: none;
    width: 200px;
    background-color: #001460;
    color: white;
}

.menu li ul.dropdown li{
    display: block;
    box-sizing: border-box;
}

.menu li ul.dropdown li a{
    padding: 10px;
    display: block;
    box-sizing: border-box;
}

.menu li a:hover{
    background-color: white;
    color: #001460;
}

.menu li:hover ul.dropdown{
    display: block;
}*/

.content {
	height: auto;
    width: 100%;
    color: #001460;
    display: block;
    background-color: rgba(240,240,240,0.5);
    padding: 20px;
    box-sizing: border-box;
}

.content h1 {
    font-weight: normal;
    color: #001460;
    font-size: 40px;
    margin: 1% 0px 1% 10%;
}

.container{
    display: block;
    margin: 0px auto;
}

.tablejadwal {
    background-color: white;
    display: block;
    margin: 0px auto;
    width: 1200px;
    height: auto;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 15px;
    padding: 40px 0px 40px 0px;
}

tbody{
    display: block;
    width: auto;
    text-align: center;
}

.tablejadwal th{
    text-align: center;
    background-color: #001460;
    color: white;
    padding: 10px;
    display: inline-block;
    width: 23%;
    box-sizing: border-box;
}

.tablejadwal tr{
    display: block;
    width: 100%;
}

.tablejadwal tr td{
    text-align: left;
    padding: 10px 10px 10px 20px;
    display: inline-block;
    width: 23%;
    box-sizing: border-box;
}

#istirahat{
    display: inline-block;
    width: 92%;
    background-color: #001460;
    color: white;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    border-bottom: 1px solid white;
}

@media only screen and (max-width: 900px){
    /*for mobile*/
    *{
        margin: 0px;
        padding: 0px;
    }

    body{
        background-size: 80%;
    }

    .namaweb{
        width: 100%;
        background-color: white;
        padding: 10px;
        box-sizing: border-box;
        border-bottom: 5px solid #001460;
        position: fixed;
        top: 0px;
    }

    .namaweb h1{
        margin: 0px;
        font-size: 12px;
        display: inline-block;
        margin-left: 5px;
        padding: 7px 0px 0px 0px;
        color: #001460;
        font-weight: normal;
    }

    .namaweb img{
        margin: 0px;
        width: 40px;
        height: 40px;
    }

    .toggle{
        display: block;
    }

    .menu ul{
        width: 100%;
        height: 100vh;
        text-align: center;
        position: fixed;
        top: 60px;
        display: block;
        background-color: #001460;
        left: -100%;
        transition: all .5s;
    }

    .menu ul li{
        display: block;
    }

    .menu ul li ul{
        width: 100%;
        z-index: 1;
    }

    /*.menu ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #001460;
        top: 60px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .menu ul li{
        width: 100%;
        height: auto;
        line-height: 15px;
        margin: 0px;
        list-style-type: none;
        display: block;
        padding: 0px;
        float: none;
    }

    .menu ul li a{
        display: block;
        margin: 0px auto;
        width: 100%;
        text-decoration: none;
        color: #ffffff;
        padding: 10px 0px;
        border-radius: 0px;
        border-bottom: 0.1px solid white;
    }

    .menu a:hover{
        color: #001460;
        font-weight: bold;
        background-color: #ffffff;
        border-radius: 0px;
    }*/

    .toggle{
        float: right;
    }

    .checkbtn{
        font-size: 20px;
        color: #001460;
        padding: 3px 5px;
        border-radius: 3px;
        line-height: 30px;
        box-sizing: border-box;
        cursor: pointer;
        display: block;
    }

    .hidebtn{
        display: none;
        font-size: 20px;
        color: #001460;
        padding: 3px 5px;
        border-radius: 3px;
        line-height: 30px;
        box-sizing: border-box;
        cursor: pointer;
    }

    .content{
        padding-top: 10px;
    }

    .content h1{
        font-size: 25px;
        margin-left: 5%;
    }


    .tablejadwal{
        table-layout: fixed;
    }

    .container{
        width: 90%;
        overflow-x: scroll;
    }



