*{
    margin: 0px;
    padding: 0px;
}

body{
	margin: 0px;
	padding: 0px 0px 50px 0px;
	font-family: roboto;
	background-image: url("SOURCE/Background samping.png");
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 65%;
}

div{
	display: inline-block;
}

.namaweb h1{
    float: left;
    font-size: 30px;
    display: inline-block;
    margin-left: 5px;
    margin: 20px 0px 20px 10px;
    color: #001460;
    font-weight: normal;
}

.namaweb img{
    margin: 15px 30px 15px 30px;
    float: left;
    width: 80px;
    height: 80px;
}
.namaweb{
    position: absolute;
    top: 0;
    left: 0;
}

.toggle{
    display: none;
}

.menu{
    width: 100%;
    margin: 35px 0px;
    box-sizing: border-box;
}

.menu ul{
    display: flex;
    justify-content: flex-end;
}

.menu ul li{
    list-style-type: none;
    position: relative;
    padding: 10px 0px;
    box-sizing: border-box;
}


.menu ul li:hover{
    border-bottom: 2px solid white;
}


.menu ul li a{
    text-decoration: none;
    padding: 0px 15px;
    color: white;
}


.menu ul li ul{
    top: 45px;
    left: 0;
    position: absolute;
    background-color: #001460;
    display: block;
    width: 200px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
}

.menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
}

.dashboard{
    display: block;
	background-color: rgba(255, 255, 255, 0.75);
	margin: 10px 0px 0px 0px;
	padding: 20px 50px 10px 50px;
    width: auto;
    height: auto;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.dashboard h1 {
	font-weight: normal;
	color: #001460;
	font-size: 40px;
}

.dashboard a {
    text-decoration: none;
}

.box1:hover{
    background-color: #001460;
}

.box1:hover > h1 {
    color: white;
}

.box1 {
	background-color: white;
    width: 300px;
    height: 100px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
	border-radius: 10px;
	margin : 38px 15px 0 15px;
    text-align: center;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box1 h1{
    font-size: 25px;
}

.btn input[type=button] {
    display: block;
    margin: 20px 0px 20px 20px;
    border-radius: 5px;
    border: 0px;
    padding: 10px;
    width: auto;
    background-color: #001460;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    font-size: 10px;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

@media only screen and (max-width: 900px){
    /*for mobile*/
    *{
        margin: 0px;
        padding: 0px;
    }

    body{
        background-size: 80%;
    }

    .namaweb{
        width: 100%;
        background-color: white;
        padding: 10px;
        box-sizing: border-box;
        border-bottom: 5px solid #001460;
        position: fixed;
        top: 0px;
    }

    .namaweb h1{
        margin: 0px;
        font-size: 12px;
        display: inline-block;
        margin-left: 5px;
        padding: 7px 0px 0px 0px;
        color: #001460;
        font-weight: normal;
    }

    .namaweb img{
        margin: 0px;
        width: 40px;
        height: 40px;
    }

    .toggle{
        display: block;
    }


    .menu ul{
        width: 100%;
        height: 100vh;
        text-align: center;
        position: fixed;
        top: 60px;
        display: block;
        background-color: #001460;
        left: -100%;
        transition: all .5s;
    }

    .menu ul li{
        display: block;
    }

    .menu ul li ul{
        width: 100%;
        z-index: 1;
    }
    
    .toggle{
        float: right;
    }

    .checkbtn{
        font-size: 20px;
        color: #001460;
        padding: 3px 5px;
        border-radius: 3px;
        line-height: 30px;
        box-sizing: border-box;
        cursor: pointer;
        display: block;
    }

    .hidebtn{
        display: none;
        font-size: 20px;
        color: #001460;
        padding: 3px 5px;
        border-radius: 3px;
        line-height: 30px;
        box-sizing: border-box;
        cursor: pointer;
    }

    .dashboard{
        width: 80%;
        display: block;
        padding: 10px;
        margin: 10px auto 10px auto;
        border-radius: 10px;
    }

    .dashboard h1{
        font-size: 20px;
        margin-bottom: 20px;
    }

    .dashboard a{
        text-decoration: none;
    }

    .box1{
        width: 80%;
        height: auto;
        display: block;
        margin: 10px auto 20px auto;
        font-size: 20px;
        float: none;
        text-decoration: none;
        padding: 17.5px 0px 17.5px 0px;

    }

    .box1 h1{
        line-height: 24px;
        margin: 0px;
    }

    .box2{
        width: 80%;
        height: auto;
        display: block;
        margin: 10px auto 20px auto;
        font-size: 20px;
        float: none;
        text-decoration: none;
    }

    .box2 h1{
        margin: 0px;
    }

    .btn{
        display: block;
        margin: 10px 0px 10px 0px;
    }

    .btn input[type=button] {
        display: block;
        margin: 0px auto 0px auto;
        border-radius: 5px;
        padding: 10px;
        width: auto;
        background-color: #001460;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
        color: white;
        font-size: 10px;
        float: none;
}