body{
	margin: 0px;
	font-family: roboto;
	background-image: url("Background samping.png");
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 65%;
}

div {
    display: inline-block;
}

.namaweb h1{
    float: left;
    font-size: 26px;
    display: inline-block;
    margin-left: 5px;
    margin: 37px 0px 0px 9px;
    color: #001460;
    font-weight: normal;
}

.namaweb img{
    margin: 30px 10px 0px 30px;
    float: left;
    width: 80px;
    height: 80px;
}
.menu{
    margin: 30px 10px 0px 0px;
    float: right;
}

.menu ul{
    display: block;
    margin: 0px;
    padding-left: 0px;
}

.menu ul li{
    margin: 0px;
    list-style-type: none;
    display: inline-block;
    padding-left: 10px;
}

.menu a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
}

a:hover{
    color: #050766;
    font-weight: bold;
    background-color: #ffffff;
}

.content{
    height: 700px;
    width: auto;
    color: #001460;
    display: block;
    background-color: rgba(240,240,240,0.5);
    padding: 20px 20px 20px 80px;
    box-sizing: border-box;
}

.content h1{
    margin: 0px;
}

.foto input[type=button]{
    width: auto;
    color: white;
    background-color: #001460;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
}

input[type=button]:hover{
    color: #050766;
    cursor: pointer;
    font-weight: bold;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.foto img{
    float: left;
    height: 200px;
    width: 200px;
    border: 2px;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 50%;
}

.profil{
    float: right;
    margin-right: 10%;
    width: 700px;
    height: auto;
    background-color: #001460;
    border-radius: 10px;
    color: white;
    padding: 10px 10px 10px 50px;
    box-sizing: border-box;
}
