*{
    margin: 0px;
    padding: 0px;
}

body{
	margin: 0px;
	font-family: roboto;
	background-image: url("SOURCE/Background samping.png");
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 60%;
}   

div {
    display: inline-block;
}

.namaweb{
    box-sizing: border-box;
    float: left;
    padding: 20px;
}

.namaweb h1{
    float: left;
    padding: 10px;
    height:80px;
    font-size: 26px;
    display: inline-block;
    color: #001460;
    font-weight: normal;
    box-sizing: border-box;
}

.namaweb img{
    float: left;
    width: 80px;
    height: 80px;
}

.menu{
    position: relative;
    margin: 40px 0px 40px 0px;
    margin-left: 23%;
    /*width: 100%;*/
}

.menu ul{
    list-style: none;
}

.menu a{
    display: block;
    text-decoration: none;
    color: white;
    width: 120px;
    /*padding: 10px;*/ 
}

.menu ul li{
    background-color: #001460;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    float: left;
    color: white;
    font-size: 15px;
    box-sizing: border-box;
}

.menu ul ul{
    display: none;
    border:none;
}

.menu ul ul li{
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.menu a:hover{
    background-color: #ffffff;
    color: #001460;
    cursor: pointer;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
}

.menu ul li:hover ul{
    display: block;
    background-color: #ffffff;
    color: #001460;
}

.menu ul ul li:hover {
    background-color: #ffffff;
    color: #001460;
    cursor: pointer;
}

.content{
    height: 700px;
    width: auto;
    color: #001460;
    display: block;
    background-color: rgba(240,240,240,0.5);
    padding: 20px 20px 20px 80px;
    box-sizing: border-box;
}

.content h1{
    margin: 0px;
}

.foto input[type=button]{
    width: auto;
    color: white;
    background-color: #001460;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
}

input[type=button]:hover{
    color: #050766;
    cursor: pointer;
    font-weight: bold;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.foto img{
    float: left;
    height: 200px;
    width: 200px;
    border: 1px solid #001460;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 50%;
}

#imgpreview{
    display: none;
}

.foto{
    float: left;
}

.profil {
    margin-left: 100px;
    width: 700px;
    padding:20px 50px 20px 40px;
    background-color: #001460;
    float: left;
    color: white;
    border-radius: 10px;
    box-sizing: border-box;
}

.hide {
    display: none;
}

label {
    float: left;
    margin: 10px 0px 0px 0px;
    width: auto;
    color: white;
    background-color: #001460;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.foto label: hover{
    color: #050766;
    font-weight: bold;
    cursor: pointer;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.bg-popup{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.popup{
    width: 500px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    color: #001460;
}

.popup input[type=password]{
    width: 80%;
    margin-top: 20px;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.popup input[type=submit]{
    float: bottom;
    width: 100px;
    margin: 20px 10px 10px 0px;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.popup input[type=submit]:hover{
    background-color: #001460;
    color: white;
}

.popup hr{
  margin: auto;
  width: 150px;
  background-color: #001460;
  height: 3px;
  border: 0px;
}

#error_message{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0px;
    background-color: #fe8b8e;
    text-align: center;
    font-size: 10px;
    transition: all 0,5% ease;
}