*{
    margin: 0px;
    padding: 0px;
}

body{
	margin: 0px;
	font-family: roboto;
	background-image: url("SOURCE/Background samping.png");
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 60%;
}   

div {
    display: inline-block;
}

.namaweb h1{
    float: left;
    font-size: 30px;
    display: inline-block;
    margin-left: 5px;
    margin: 20px 0px 20px 10px;
    color: #001460;
    font-weight: normal;
}

.namaweb img{
    margin: 15px 30px 15px 30px;
    float: left;
    width: 80px;
    height: 80px;
}
.namaweb{
    position: absolute;
    top: 0;
    left: 0;
}

.toggle{
    display: none;
}

.menu{
    width: 100%;
    margin: 35px 0px;
    box-sizing: border-box;
}

.menu ul{
    display: flex;
    justify-content: flex-end;
}

.menu ul li{
    list-style-type: none;
    position: relative;
    padding: 10px 0px;
    box-sizing: border-box;
}


.menu ul li:hover{
    border-bottom: 2px solid white;
}


.menu ul li a{
    text-decoration: none;
    padding: 0px 15px;
    color: white;
}


.menu ul li ul{
    top: 45px;
    left: 0;
    position: absolute;
    background-color: #001460;
    display: block;
    width: 200px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
}

.menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
}

.content{
    height: 700px;
    width: auto;
    color: #001460;
    display: block;
    background-color: rgba(240,240,240,0.5);
    padding: 20px 20px 20px 80px;
    box-sizing: border-box;
}

.content h1{
    margin: 0px;
}

.foto input[type=button]{
    width: auto;
    color: white;
    background-color: #001460;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
}

input[type=button]:hover{
    color: #050766;
    cursor: pointer;
    font-weight: bold;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.foto img{
    float: left;
    height: 200px;
    width: 200px;
    border: 1px solid #001460;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 50%;
}

#imgpreview{
    display: none;
}

.foto{
    float: left;
}

.profil {
    margin-left: 100px;
    width: 700px;
    padding:20px 50px 20px 40px;
    background-color: #001460;
    float: left;
    color: white;
    border-radius: 10px;
    box-sizing: border-box;
}

.hide {
    display: none;
}

label {
    float: left;
    margin: 10px 0px 0px 0px;
    width: auto;
    color: white;
    background-color: #001460;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.foto label: hover{
    color: #050766;
    font-weight: bold;
    cursor: pointer;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.bg-popup{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.popup{
    width: 500px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    color: #001460;
}

.popup input[type=password]{
    width: 80%;
    margin-top: 20px;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.popup input[type=submit]{
    float: bottom;
    width: 100px;
    margin: 20px 10px 10px 0px;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.popup input[type=submit]:hover{
    background-color: #001460;
    color: white;
}

.popup hr{
  margin: auto;
  width: 150px;
  background-color: #001460;
  height: 3px;
  border: 0px;
}

#error_message{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0px;
    background-color: #fe8b8e;
    text-align: center;
    font-size: 10px;
    transition: all 0,5% ease;
}

@media only screen and (max-width: 900px){
    /*for mobile*/

    *{
        margin: 0px;
        padding: 0px;
    }

    body{
        background-size: 80%;
    }

    .namaweb{
        width: 100%;
        background-color: white;
        padding: 10px;
        box-sizing: border-box;
        border-bottom: 5px solid #001460;
        position: fixed;
        top: 0px;
    }

    .namaweb h1{
        margin: 0px;
        font-size: 12px;
        display: inline-block;
        margin-left: 5px;
        padding: 7px 0px 0px 0px;
        color: #001460;
        font-weight: normal;
    }

    .namaweb img{
        margin: 0px;
        width: 40px;
        height: 40px;
    }

    .toggle{
        display: block;
    }

    
    .menu ul{
        width: 100%;
        height: 100vh;
        text-align: center;
        position: fixed;
        top: 60px;
        display: block;
        background-color: #001460;
        left: -100%;
        transition: all .5s;
    }

    .menu ul li{
        display: block;
    }

    .menu ul li ul{
        width: 100%;
        z-index: 1;
    }

    .toggle{
        float: right;
    }

    .checkbtn{
        font-size: 20px;
        color: #001460;
        padding: 3px 5px;
        border-radius: 3px;
        line-height: 30px;
        box-sizing: border-box;
        cursor: pointer;
        display: block;
    }

    .hidebtn{
        display: none;
        font-size: 20px;
        color: #001460;
        padding: 3px 5px;
        border-radius: 3px;
        line-height: 30px;
        box-sizing: border-box;
        cursor: pointer;
    }

    .content {
        display: block;
        width: 80%;
        height: auto;
        background-color: white;
        margin: 0px auto;
        margin-top: 100px;
        color: #001460;
        padding: 20px 10px 10px 10px;
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
    }

    .content h1{
        font-size: 30px;
        margin: 0px 0px 20px 10px;
    }

    .foto{
        float: none;
        width: 80%;
        display: block;
        margin: 0px auto;
    }

    .foto img{
        width: 80%;
        height: 80%;
        box-sizing: border-box;
        margin:auto;
        float: none;
        display: block;
    }

    .foto label{
        width: 50%;
        box-sizing: border-box;
        margin: auto;
        display: block;
        float: none;
        font-size: 12px;

    }

    .foto input[type=button]{
        width: 50%;
        box-sizing: border-box;
        margin: auto;
        display: block;
        float: none;
        font-size: 12px;
    }

    .profil{
        width: 80%;
        display: block;
        margin: 30px auto;
        float: none;
        font-size: 12px;
    }

    .popup{
        width: 80%;
    }
}