body{
  
    background-image: url("20190715_071321.jpg");
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Roboto;
    background-size: cover;
}

#as {
    width: 100px;
    height: 100px;
}

.container{
    background-color: white;
    margin: auto;
    width: 900px;
    height: 500x;
    margin-top: 7.5%;
    border-radius: 25px;
}

.container img{
  float: left;
}

.container h2{
  margin-top: 180px;
  color: white;
}

.container hr {
  margin-top: -20px;
  margin-bottom: 20px;
  width: 170px;
  margin-left: 0px;
}

.container1{
    height: 500px;
    border-radius: 25px 0px 0px 25px;
    padding: 5%;
    float: left;
    width: 450px;
    background-color: #001460;
    box-sizing: border-box;
}

.container1 h1{
  float: left;
  font-size: 30px;
  display: inline-block;
  margin-left: 10px;
  color: white;
}

.container1 input[type=button]{
    border-radius: 5px;
    border: 0px;
    padding: 9px;
    width: 300px;
    background-color: white;
    font-family: roboto;
    font-weight: 1000;
    color: #001460;
}
.container2{
    float: left;
    height: 500px;
    border-radius: 0px 25px 25px 0px;
    width: 450px;
    background-color: white;
    box-sizing: border-box;

    
}

.container2a h1 {
  text-align: center;
  font-weight: normal;
}

.container2a {
    background-color: white;
    width: 340px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px 30px 10px 30px;
    margin: auto;
    margin-top: 100px;
    box-sizing: border-box;
    border-radius: 10px;
}

.container2a hr{
  margin: auto;
  margin-top: -20px;
  margin-bottom: 20px;
  width: 70px;
  background-color: #001460;
  height: 3px;
  border: 0px;
}
    
.container2a input[type=text] {
  border-radius: 5px;
  border: 0px;
  padding: 9px;
  width: 260px;
  background-color: white;
  font-family: roboto;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container2a input[type=button] {
  border-radius: 5px;
  border: 0px;
  padding: 9px;
  width: 90px;
  background-color: #001460;
  font-family: roboto;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  font-size: 10px;
}

.password {
  margin-right: 95px;
}
