body{
	margin: 0px;
	font:16px/28px roboto, sans-serif;
	background-color: #eaeaea;
}


.container {
	width: 500px;
	margin: 20px;
	background-color: #001460;
	color: white;
	border-radius: 10px;
}

.header {
	background-color: white;
	color: #001460;
	text-align: center;
	padding: 10px;
	border-radius: 10px 10px 0px 0px;
}

.isi {
	padding: 0px 20px 20px 20px;
}

input[type=text], input[type=password], input[type=date], input[type=number]{
	border-radius: 3px;
	border: 0px;
	padding: 5px;
	width: 90%;
}

form{
	margin-top: 10px;
}

.form1 input, .form3 input,  .form4 input, .form6 input{
	margin-top: 5px;
}

.button{
	margin-left: 250px;
}

.button input{
  background-color: white;
  border: none;
  color: #001460;
  padding: 10px 20px;
  margin: 20px 0px 4px 20px;
  cursor: pointer;
  border-radius: 3px;
}


.button input:hover {
	background-color: #0362fc;
	color: white;
}